

body {
    padding-top: 70px;
    color: #777;
    background: url("../images/concrete_seamless.png");
  }

  container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.navbar-light .navbar-brand{
    background: #4aaaa5;
    color: #fff;
    border-color: #ccc;
  }

.btn.btn-primary{
    background: #4aaaa5 !important;
    color: #fff !important;
    border-color: #ccc;
}

.page-header {
    color: #4aaaa5;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


footer {
    color: #4aaaa5;
    border-top: 2px solid #ccc;
    padding-top: 20px;
    margin-top: 180px;
    text-align: center;
    clear: both;
}

/* portfolio page */

.work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  
  